header{
    height: 150px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    gap: 25px;
}

.buttonSection{
    display: flex;
    flex-direction: column;
}