/* Styling for header */

header{
    height:150px;
    background-color: #FFC49B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navList {
    display: flex;
    
    border: 1px solid #5C4343;
    background-color: #5C4343;
    width: 300px;
    height: 50px;
    justify-content: center;
    margin: 20px;
    border-radius: 25px;
}

#navListText {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    margin-right: 30px;
}

    /* Prøvde å lage fine hjørner i en evighet..burde sjekket w3schools tidligere.. */

    /* border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius:30% ; */
    



a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}



main{
    background-color: #5C4343;
    color: white;
}

section{
    height: 100vh;
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    


}

.greeting{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

.steg1{
    /* margin-left: 200px; */
    font-size: 40px;
    animation: 
      typing1 2.2s steps(36, end) forwards,
      blink .7s step-end infinite;
}

.steg2 {
    font-size: 20px;
    animation: 
    typing2 1.8s steps(26, end) 2.3s forwards,
    blink .7s step-end infinite;

}


.actions{
  display: flex;
  gap: 20px;
  opacity: 0;
  animation: actionsIn .4s ease 4.3s forwards;
}

/* Viser skjult "content" stegvis(bestemt i egen css del) bort til gitt lengde */
@keyframes typing1 { to { width: 24ch; } } 
@keyframes typing2 { to { width: 26ch; } }

/* endrer opacity på knapper fra 0 til 1 for å gjøre de synlig etter teksten */
@keyframes actionsIn {to {opacity: 1; }}


.button {
    display: inline-flex;
    border: 1px solid #FFC49B;
    background-color: #FFC49B;
    border-radius: 25px;
    margin: 10px;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.aboutPage{
    display: flex;
    
    flex-direction: column;
    align-items: center;

}

.aboutBox{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    background-color: #3C2E2E;
}

.aboutBoxLeft{
    display: flex;
    width: 100%;
    

}

.aboutBoxRight{
    display: flex;
    width: 100%;
    flex-direction: column;
    

}

#aboutImg{
    height: 100px;
    width: 100px;
    align-self: center;
    border-radius: 30px;
}
.aboutLeft{
    text-align: center;
    height: 300px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;

    margin-top:70px ;
    margin-bottom:20px ;
    margin-left:80px ;
    margin-right:20px ;
    border-radius: 10px;
    background-image:url(./images/bakgrunn\ m\ info.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

#aboutList {
    display: flex;
    gap: 20px;
}


.aboutRight{
    text-align: center;
    height: 300px;
    width: 200px;
    background-color: #5C4343;
    margin-top:10px;
    margin-bottom:10px ;
    margin-left:10px ;
    margin-right:10px ;
    border-radius: 10px;
    align-self: center;
}
.projectsPage{
    
    display: flex;
    justify-content: center;
}

#aboutHeadline, #projectsHeadline {
    font-size: xx-large;

}

@media (max-width:600px){
    header{
        flex-direction: column; 
        justify-content: center;
    }
    
    #navList{
        gap: 10px; 
        width: 250px;
    }
    .steg1{
        font-size: 20px;
        
    }
    .steg2{
        font-size: 16px;
        
    }
    .button{
        width: 50px;
        height: 25px;
        font-size: 10px;
    }

    .aboutBox{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 250px
    }

    .aboutBoxLeft{
        justify-content: center;
        margin: 5px;
        
        
    }

    .aboutLeft {
        
        height: 150px;
        max-width: 155px;
        min-width: 100px;
        margin:0 ;
        
        
        
    
    }

    .aboutRight{
        font-size: 12px;
        height: 150px;
        width: 200px;
        
        
    }

    #aboutImg{
        height: 50px;
        width: 50px;
    }


}

    



 




footer{
     height:150px;
    background-color: #FFC49B;
    display: flex;
    justify-content: space-between;
    align-items: center;

}